@import 'utils'

body
  padding-top 25%
  
#presser
  position relative
  top -64px
  box-shadow 0px 30px 35px black
  background red
  display block
  margin 0 auto
  border-radius 64px
  width 128px
  height 128px
  line-height 128px
  text-align center
  -webkit-transition: all 0.1s ease-in;
  &:hover
    // Mouse should change to the hand when over the button.
    cursor pointer 
  span  
    color #3f0000
    text-shadow 0 1px 1px white
    
#presser.down
  transition-property all
  transition-duration 20ms
  transition-timing-function ease-in-out
  margin-top 5px
  width 118px
  height 118px
  line-height 118px
  box-shadow 0px 12px 20px #3f3f3f
  font-size 85%
  
  
