// Layout functions

.clear
  clear both

// Border Radius function
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

border-top-left-radius()
  -webkit-border-top-left-radius arguments
  -moz-border-top-left-radius arguments
  border-top-right-radius arguments

border-top-right-radius()
  -webkit-border-top-right-radius arguments
  -moz-border-top-right-radius arguments
  border-top-right-radius arguments
  
border-bottom-left-radius()
  -webkit-border-bottom-left-radius arguments
  -moz-border-bottom-left-radius arguments
  border-bottom-left-radius arguments
  
border-bottom-right-radius()
  -webkit-border-bottom-right-radius arguments
  -moz-border-bottom-right-radius arguments
  border-bottom-right-radius arguments
  
// Box Shadow 
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow: arguments
  box-shadow: arguments

button(start,stop)
  background -webkit-gradient(linear, left top, left bottom, from(start), to(stop))
  -moz-linear-gradient(center top , #828282, #606060) repeat scroll 0 0 transparent